name: "Mirror"

on:
  workflow_dispatch:
  push:
    branches: ["**"]
    tags: ["**"]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  mirror:
    name: "Mirror"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: "Checkout"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: "Mirror to Codeberg"
        uses: cssnr/mirror-repository-action@2af5bf347684245f52b5f56502956a57f9b8813e # v1.2.0
        with:
          host: https://codeberg.org
          create: true
          username: "shaner"
          password: ${{ secrets.CODEBERG_TOKEN }}
