name: "Test"

on:
  workflow_dispatch:
  #schedule:
  #  - cron: "18 18 * * 1,3,5"
  pull_request:
    paths:
      - ".github/workflows/test.yaml"
      - "dist/**"
      - "src/**"
      - "package*.json"
      - "requirements*.txt"
      - "action.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: "Test"
    if: ${{ !contains(github.event.head_commit.message, '#notest') }}
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      pull-requests: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: "Debug CTX github"
        if: ${{ !github.event.act }}
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Test Local Action"
        id: test
        uses: ./
        with:
          summary: ${{ !github.event.act }}
          fail: false
          open: true
          #columns: "n,f,b,l"
          exclude: "cssnr/.*,actions/.*"
          #exclude: |
          #  cssnr/.*
          #  actions/.*
          files: |
            tags.yaml

      - name: "Verify Outputs"
        if: ${{ !github.event.act }}
        env:
          hasUpdates: ${{ steps.test.outputs.hasUpdates }}
          actions: ${{ steps.test.outputs.actions }}
          updates: ${{ steps.test.outputs.updates }}
          markdown: ${{ steps.test.outputs.markdown }}
        run: |
          echo "updates: '${{ env.hasUpdates }}'"
          if [ "${{ env.hasUpdates }}" != "true" ] && [ "${{ env.hasUpdates }}" != "false" ]; then
            echo "Invalid Output: hasUpdates"
            exit 1
          fi
          echo "actions: '${{ env.actions }}'"
          echo "updates: '${{ env.updates }}'"
          echo "markdown: '${{ env.markdown }}'"
          if [ -z '${{ env.markdown }}' ];then
            echo "No Output: markdown"
            exit 1
          fi

      - name: "Schedule Failure Notification"
        if: ${{ failure() && github.event_name == 'schedule' }}
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
